<!--<h1>Account Statement</h1>
<p>Here the Teller will be able to enter an identifying paramater and generate the statement with some aditional query options</p>-->

<!--<h1>Account Details Screen - Main Screen</h1>
<p>This is the main screen for the Teller. From here they will have controls to Deposit Transfer And Withdraw Screen</p>
<p>This screen is just a single search box, do not get all accounts here the Teller has to search for a specific account here</p>-->



    <!--Heading-->
    <div class="brand-logo center">
    <h3>Get Statements</h3>
    </div>
    <!--Form-->
    <div class="container">
    <div class="col s6 offset-s3">
    <div class="card">
    <div class="card-content">
    <form [formGroup]="form" name="updateForm" #registerForm="ngForm" (ngSubmit)="getTransaction()">
    <div class="row">
    <div class="input-field col s12">
    <input formControlName="Acct_Id" type="number" name="Acct_Id" ngModel pattern="[0-9]{9}">
    <div *ngIf="form.get('Acct_Id').invalid && form.get('Acct_Id').touched" class="alert alert-danger">
        <div *ngIf="form.get('Acct_Id').errors.required"> Account ID is required.</div>
        <div *ngIf="form.get('Acct_Id').errors.pattern"> Account ID should be a 9 digit number.</div>
    </div>
    <label>Account ID</label>
    </div>
    </div>

    
    <div class="radio"> 
        <label>
            <input id="QueryType_num" style="opacity: 1;" name="QueryType" [checked]="true"
            type="radio"  value="By Transactions" (click)="setradio('By Transactions')">
            &nbsp;&nbsp;&nbsp;&nbsp;
            By Transactions
         </label>  
        
    </div> 
    
    <div class="radio">
        <label>
            <input id="QueryType_date" style="opacity: 1;" name="QueryType" 
            type="radio" value="By Date" (click)="setradio('By Date')" > 
            &nbsp;&nbsp;&nbsp;&nbsp;
            By Date
        </label>      
    </div>  

    <div *ngIf="isSelected('By Transactions')" >  
       <div class="row">
    <div class="input-field col s12">
    <input formControlName="Num1" type="number" >
    <label>Start Number</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12">
    <input formControlName="Num2" type="number" >
    <label>End Number</label>
    </div>
    </div>
       </div>  
       <div *ngIf="isSelected('By Date')">  
        <div class="row">
    <div class="input-field col s12">
    <input formControlName="Date1" type="date" >
    <label>Start Date</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12">
    <input formControlName="Date2" type="date" >
    <label>End Date</label>
    </div>
    </div>  
       </div>   
    <div class="row">
    <div class="input-field col s12">
    <button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid">View</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    
    <!--Display the 3 buttons -->
    <div class="container-fluid">
        <table>
            <tr>
                <th>Date</th> 
                <th>Transaction Description</th>
                <th>Balance</th>
            </tr>
            <tr *ngFor="let transaction of this.transactions">
                <td>{{ transaction.tranDate.replace("T", " ") }}</td>
                <td *ngIf="transaction.targetAcct == null">
                    {{transaction.amount >= 0 ? "Deposit" : "Withdrawal"}}
                </td>
                <td *ngIf="transaction.targetAcct != null">
                    Source Account: {{ transaction.sourceAcct }} <br> 
                    Target Account: {{ transaction.targetAcct }} <br>
                </td>
                <td>${{ transaction.amount }}</td>
            </tr>    
        </table>
        <hr>
    </div>
