<nav class="navbar navbar-expand-sm bg-dark blue-grey">

  <!-- Links -->
  <ul class="navbar-nav">

    <a routerLink="/" class="center navbar-brand">Team4-Bank</a>
    
    <li *ngIf="this.isTeller" class="nav-item">
      <a class="nav-link" routerLink="/Teller/Statement">Account Statements</a>
    </li>
    <li *ngIf="this.isTeller" class="nav-item">
      <a class="nav-link" routerLink="/Teller" >Account Details</a>
    </li>

    <!-- Dropdown -->
    <li *ngIf="this.isAdmin" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Account
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/Executive/Account">View All</a>
        <a class="dropdown-item" routerLink="/Executive/Account/Create">Create</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li *ngIf="this.isAdmin" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Customer
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/Executive/Customer">View All</a>
        <a class="dropdown-item" routerLink="/Executive/Customer/Create">Create</a>
      </div>
    </li>

    
  </ul>

  <ul *ngIf="!this.isAdmin && !this.isTeller" class="justify-content-end ml-auto">
    <li class=" ml-auto navbar-right float-right text-right">
      <a routerLink="/Login" >Login</a>
    </li>
  </ul>

  <ul *ngIf="this.isAdmin || this.isTeller" class="justify-content-end ml-auto">
    <li class=" ml-auto navbar-right float-right text-right">
      <a (click)="logout()" >Logout</a>
    </li>
    <li class=" ml-auto navbar-right float-right text-right">
      [{{userRole}}] {{ userEmail }}
    </li>
  </ul>

 
</nav>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="whitesection" id="footer">
    <div class="container-fluid">
      <p style="text-align:center">© Copyright 2020 Team4</p>
    </div>
</footer>