<!--<h1>Account Details Screen - Main Screen</h1>
<p>This is the main screen for the Teller. From here they will have controls to Deposit Transfer And Withdraw Screen</p>
<p>This screen is just a single search box, do not get all accounts here the Teller has to search for a specific account here</p>-->

    <!--Heading-->
    <div class="brand-logo center">
    <h3>Account Details</h3>
    </div>
    <!--Form-->
    <div class="container">
    <div class="col s6 offset-s3">
    <div class="card">
    <div class="card-content">
    <form [formGroup]="form" name="updateForm" #registerForm="ngForm" (ngSubmit)="getAccount(this.form.get('Id_Type').value, this.form.get('id').value)">
    <div class="form-group">
     <label for="role">Choose ID</label>
                <select formControlName="Id_Type" class="form-control">
                    <option>Customer ID</option>
                    <option>SSN ID</option>
                    <option>Account ID</option>
                </select>
            </div>
    <div class="row">
    <div class="input-field col s12">
    <input formControlName="id" type="number" name="id" ngModel pattern="[0-9]{9}">
    <label> ID</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12">
    <button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid">View</button>
    
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    
    <!--Display the 3 buttons -->
    <div class="container-fluid">
        <table>
           
                <tr>
                    <th>Customer ID</th> 
                    <th>Acccount ID</th>
                    <th>Account Type</th>
                    <th>Balance</th>
                </tr>
                <tr *ngFor="let account of accounts">
                    <td>{{ account.Cust_Id }}</td>
                    <td>{{ account.Acct_Id }}</td>
                    <td>{{ account.Acct_Type }}</td>
                    <td>{{ account.Balance}}</td>
                    <td> 
                        <button  class="btn btn-sm btn-outline-primary" routerLink="/Teller/Deposit/{{account.Acct_Id}}">Deposit</button> 
                    </td>
                    <td> 
                        <button  class="btn btn-sm btn-outline-primary" routerLink="/Teller/Withdraw/{{account.Acct_Id}}">Withdraw</button> 
                    </td>
                    <td> 
                        <button  class="btn btn-sm btn-outline-primary" routerLink="/Teller/Transfer/{{account.Acct_Id}}">Transfer</button> 
                    </td>
                </tr>
        </table>
        <hr>
    </div>
    