<!--<h1>Account Master Component</h1>
<p>This will be the main list of Accounts for the admin, complete with filtering functionality</p>
<p>Here the admin will have access to controls that will bring him to the Create and Update Components</p>
<p>On this screen the delete function will also exist.</p>
<p>Status for all of the Accounts will be here as well </p>-->

<!-- NavBar-->
<nav class="blue-grey">
<div class="nav-wrapper">
<a href="#" class="brand-logo center">Team4-Bank</a>
<ul id="nav-mobile" class="right hand-on-med-and-down">
<li>
<a routerLink="/Login">Logout</a>
</li>
</ul>
</div>
</nav>
<!--Heading-->
<div class="brand-logo center">
<h3>View Account</h3>
</div>




 <!-- Footer -->
   <footer class="whitesection" id="footer">
    <div class="container-fluid">
      <p>© Copyright 2020 Team4</p>
    </div>
    </footer>