<!--<h1>Account Withdraw</h1>
<p>Here the Teller will be able to withdraw from a pre-specified account</p>-->

<!--<h1>Account Details Screen - Main Screen</h1>
<p>This is the main screen for the Teller. From here they will have controls to Deposit Transfer And Withdraw Screen</p>
<p>This screen is just a single search box, do not get all accounts here the Teller has to search for a specific account here</p>-->

    <!--Heading-->
    <div class="brand-logo center">
    <h3>Withdraw</h3>
    </div>
    <!--Form-->
    <div class="container">
    <div class="col s6 offset-s3">
    <div class="card">
    <div class="card-content">
    <form  name="form" #registerForm="ngForm" [formGroup]="form" (ngSubmit)="postTransaction()">
    <div class="row">
    <div class="input-field col s12">
    <input formControlName="amount" type="number" name="amount" ngModel pattern="[\d]+">
    <div *ngIf="form.get('amount').invalid && form.get('amount').touched" class="alert alert-danger">
        <div *ngIf="form.get('amount').errors.required"> Customer Deposit is required.</div>
        <!-- <div *ngIf="form.get('amount').errors.pattern === true"> Customer Deposit should be a positve value.</div> -->
        <div *ngIf="form.get('amount').errors.max"> Customer Deposit has a max size of 20 numbers.</div>
        <div *ngIf="form.get('amount').errors.min"> Customer Deposit should be a positve value.</div>
        
       </div>
    <label> Withdraw Amount</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12">
    <button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid">Withdraw</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    
    <!--Display the records -->
    <div class="container-fluid">
        <table>
            <tr>
                <th>Acccount ID</th>
                <th>Balance Before Withdraw</th> <!--Before Withdraw-->
                <th>Latest Balance</th> <!--After Withdraw-->
            </tr>
            <tr>
                <td>{{ this.account.acctId }}</td>
                <td>{{ this.account.balance }}</td>
                <td>{{ getNewBalance() }}</td>
                <td> 
                    <button  class="btn btn-sm btn-outline-primary" routerLink="/Teller">Back</button> 
                </td>
            </tr>
        </table>
        <hr>
    </div>
