
    <!--Headings Space-->
    <div class="container-fluid">
    <marquee><h2> Retail Bank Management System  </h2></marquee>
    </div>
        <section class="blue-grey" id="features">
        <div class="container-fluid">
          <div class="row">
            <div class="feature-box col-lg-4">
              <i class="icon fas fa-check-circle fa-4x"></i>
              <h3 class="featurre-title">Easy Deposits</h3>
            </div>
             <div class="feature-box col-lg-4">
              <i class="icon fas fa-bullseye fa-4x"></i>
              <h3 class="featurre-title">View Statements</h3>
            </div>
              <div class="feature-box col-lg-4">
              <i class="icon fas fa-check-circle fa-4x"></i>
              <h3 class="featurre-title">Account Details</h3>
            </div>
          </div>
        </div>
      </section>
  